<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/BO/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/BO/kendo")
</head>
<body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">VinaSale</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sự Kiện <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "EventBO")">Quản Lý Sự Kiện</a></li>
                            <li><a href="@Url.Action("Create", "EventBO")">Thêm Mới Sự Kiện</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
            </div>
    @(Html.Kendo().Window()
    .Name("imgBrowserWindow")
    .Title("Chọn hình ảnh")
    .HtmlAttributes(new {style = "display:none"})
    .Content(@<div id="imgBrowser"></div>)
        .Draggable()
        .Resizable()
        .Width(600)
        .Actions(a => a.Pin().Minimize().Maximize().Close())
)
    @Html.Hidden("selectedMediaUrl", new { id = "selectedMediaUrl" })
    @RenderBody()
    <footer>Copyright &copy; 2013 <a href="http://vinasale.com.vn/">VinaSale</a>. All rights reserved.</footer>
    <script>
        $(document).ready(function() {
            // init page controls

            function path(url) {
                return /(.*\/)[^\/]*$/gi.exec(url)[1];
            }

            $("#dimensions").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "common-bootstrap",
                dataSource: [
                    { text: "Default", value: "common" },
                    { text: "Bootstrap", value: "common-bootstrap" }
                ],
                change: function(e) {
                    var commonLink = Application.getCurrentCommonLink();
                    Application.updateLink(commonLink, Application.getCommonUrl(this.value()));
                }
            });

            $("#theme").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: "bootstrap",
                dataSource: [
                    { text: "Default", value: "default" },
                    { text: "Blue Opal", value: "blueopal" },
                    { text: "Bootstrap", value: "bootstrap" },
                    { text: "Silver", value: "silver" },
                    { text: "Uniform", value: "uniform" },
                    { text: "Metro", value: "metro" },
                    { text: "Black", value: "black" },
                    { text: "Metro Black", value: "metroblack" },
                    { text: "High Contrast", value: "highcontrast" },
                    { text: "Moonlight", value: "moonlight" },
                    { text: "Flat", value: "flat" }
                ],
                change: function(e) {
                    theme = this.value();
                    Application.changeTheme(theme, true);
                    initCharts(theme);
                }
            });

            function changeFontSize(e) {
                var value = $("#font-size").kendoDropDownList("value");

                $("body").css("font-size", value + "px");
            }

            $("#font-size").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                value: 14,
                height: 204,
                dataSource: [
                    { text: "10px", value: 10 },
                    { text: "12px", value: 12 },
                    { text: "14px", value: 14 },
                    { text: "16px", value: 16 },
                    { text: "18px", value: 18 },
                    { text: "20px", value: 20 }
                ],
                change: changeFontSize
            });

            changeFontSize();

            $("#theme-list, #dimensions-list, #font-size-list").addClass("ra-list");

            $("#configure").on("click", function(e) {
                $("#configurator-wrap").toggleClass("hidden-xs");
                e.preventDefault();
            });

            $("#example .form-widgets")
                .find("select:not([multiple])").kendoDropDownList().end()
                .find("select[multiple]").kendoMultiSelect().end()
                .find("input:not([type])").addClass("k-textbox").end()
                .find("textarea").addClass("k-textbox").end()
                .find("input[type=date]").kendoDatePicker().end()
                .find("input[type=number]").kendoNumericTextBox({
                    format: "0 years"
                });
        });

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        var imageBrowser, imageBrowserWindow;
        function showImageBrowser() {
            imageBrowserWindow = $("#imgBrowserWindow").data("kendoWindow");
            if (!imageBrowser) {
                imageBrowser = $("#imgBrowser").kendoImageBrowser({
                    transport: {
                        read: "/ImageBrowser/Read",
                        destroy: {
                            url: "/ImageBrowser/Destroy",
                            type: "POST"
                        },
                        create: {
                            url: "/ImageBrowser/Create",
                            type: "POST"
                        },
                        type: "imagebrowser-aspnetmvc",
                        thumbnailUrl: "/ImageBrowser/Thumbnail",
                        uploadUrl: "/ImageBrowser/Upload",
                        imageUrl: "/UserFiles/Media/{0}"
                    },
                    change: function () {
                        //this.value(); //Selected image URL
                        $("#selectedMediaUrl").val(this.value());
                        imageBrowserWindow.close();
                        overrideChangeImageBrowser();
                    }
                }).data("kendoImageBrowser");
            }
                
            imageBrowserWindow.open();
            imageBrowserWindow.center();
        }
    </script>
    <style>
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
    </style>
</body>
</html>
