@model VinaSale.Models.ViewModels.EventVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_BOLayout.cshtml";
}
<div id="example" class="container">
    <section class="well">
        <h2 class="ra-well-title">Trang này là gì?</h2>

        <p>Đây là trang tạo mới bài viết admin</p>
    </section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="well">
            <h2 class="ra-well-title">Thông tin Post</h2>

            <div class="form-horizontal form-widgets col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="PostName">Tên Post</label>
                    <div class="col-sm-8 col-md-6">
                        @Html.EditorFor(model => model.PostName)
                        @Html.ValidationMessageFor(model => model.PostName)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="ShortDescription">Mô tả ngắn</label>
                    <div class="col-sm-8 col-md-6">
                        @Html.EditorFor(model => model.PostShortDescription)
                        @Html.ValidationMessageFor(model => model.PostShortDescription)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="language">Duyệt</label>
                    <div class="col-sm-8 col-md-6">
                        @Html.EditorFor(model => model.IsActived)
                        @Html.ValidationMessageFor(model => model.IsActived)
                    </div>
                </div>
            </div>

            <div class="form-horizontal form-widgets col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="occupation">Hình đại diện</label>
                    <div class="col-sm-8 col-md-6">
                                                @Html.HiddenFor(model => model.PostAvatar)
                        <img id="avatar" src="http://demos.kendoui.com/content/integration/bootstrap-integration/avatar.jpg" class="ra-avatar img-responsive" onclick="showImageBrowser();" />
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-horizontal form-widgets col-sm-12">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="bio">Mô tả chi tiết</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(model => model.PostDescription)
                        @Html.ValidationMessageFor(model => model.PostDescription)
                    </div>
                </div>
            </div>

            <div class="buttons-wrap">
                <button class="k-button k-state-default">Cancel</button>
                <button class="k-button k-state-default">Update</button>
            </div>
        </section>
    }
</div>

<script>
    function overrideChangeImageBrowser() {
        $("#avatar").attr("src", $("#selectedMediaUrl").val());
    }
</script>