@using VinaSale.Models
@using VinaSale.Models.ViewModels
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FOLayout.cshtml";
    var posts = (IEnumerable<EventVM>) ViewBag.Posts;
}



<div id="content">
    @if (posts != null)
    {
        foreach(var post in posts)
    {
        var col = post.PostSize == PostSize.Large ? "col2" : "col1";
        var postTypeIcon = post.PostType == PostType.Discount ? "/UserFiles/Images/hot.png" : "/UserFiles/Images/hot.png";
        <div class="box @col">
            <div class="box-arrow">

                <div class="box-header">
                    <span class="box-postname">
                        @post.PostName
                    </span>
                    <span class="box-posttype"><img src="@postTypeIcon" /></span>
                    <span class="box-like-button"><button></button></span>
</div>

                <div class="box-avatar">
                    <img src="@post.PostAvatar">
                </div>

                <div class="box-footer">
                    <img src="@post.Brand.Logo" />
                    <span class="box-owner">
                        <a href="#">@post.Brand.BrandName</a>
                        <span class="box-createdtime">@post.UpdatedDate.ToString("g")</span>
                    </span>
                    @if (!string.IsNullOrEmpty(post.PostTags))
                    {
                        <span class="box-tags">
                            <span>&nbsp;</span>
                            <a href="#">#@post.PostTags</a>
                        </span>
                    }
                </div>

                <div class="box-shortdesc"><p>@post.PostShortDescription</p></div>

            </div>

            <div class="box-action">
                <span class="box-like">
                    <span>0</span>
                    <img src="/UserFiles/Images/like.png" />
                </span>
                <span class="box-share">
                    <span>0</span>
                    <img src="/UserFiles/Images/share.png" />
                </span>
                <span class="box-comment">
                    <span>0</span>
                    <img src="/UserFiles/Images/comment.png" />
                </span>
            </div>
        </div>
    }
    }
</div>
